target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.vscode/
*.DS_Store
application-dev.properties
application-dev.yml


HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
out/
cert/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/



# Graphify
/graphify-out